In [2]:
# Creating a list of fruits

fruits = ["apple", "banana", "cherry"]#Accessing elements by index


print(fruits[0])  # Output: appleAdding an element to the list


fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']Removing an element from the list


fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'orange']Modifying an element in the list

apple
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']

In [3]:
fruits[1] = "kiwi"
print(fruits)  # Output: ['apple', 'kiwi', 'orange']

['apple', 'kiwi', 'orange']

In [4]:
list1 =[1,2,3,4]
list1, id(list1),type(list1)

([1, 2, 3, 4], 2035392629824, list)

In [5]:
list1.append(10)
list1, id(list1),type(list1)

([1, 2, 3, 4, 10], 2035392629824, list)

In [6]:
list1.remove(1)
list1, id(list1),type(list1)

([2, 3, 4, 10], 2035392629824, list)

In [7]:
#help(tuple)
tuple1 =(1,2,3)
tuple1,id(tuple1)

((1, 2, 3), 2035392709248)

In [8]:
tuple1[1]

2

In [14]:
string1="hi python"
string1[0:1]
lenstr = len(string1)
#print(lenstr)
#string1:[0:9]
for i in range(0,len(string1)):
    print(string1[i])

h
i

p
y
t
h
o
n

In [1]:
# dictionary
Dict1={"Name":"Raj","key1":"val1","key2":"val2","key3":"val3","key4":"val4"}
print(Dict1 {"Name"})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3467022965.py, line 3)

In [23]:
for key,val in Dict1.items():
   # print(f"key is{key} val is{val}") # Fstring or format_method
    print("key is "+ key + "value is "+ val)

key is namevalue is Raj
key is key1value is val1
key is key2value is val2
key is key3value is val3
key is key4value is val4

In [25]:
#fstr="key is {name} value is" 
#help(fstr)
#print(fstr)
#print(fstr.format(key,val))                    # ----next class-----

key is {name} value is

KeyError: 'name'

In [28]:
fstr="key is { } value is" 
#help(fstr)
print(fstr)
fstr2=f"key is {key} value is {val}" 
print(fstr2)
#print(fstr.format(key,val))

key is { } value is
key is key4 value is val4

In [ ]:
# create a list of 5 elements using assignment cre

In [29]:
Row1= [1,2]
Row2= [3,4]
matrix= [Row1,Row2]
matrix,len(matrix)

([[1, 2], [3, 4]], 2)

In [31]:
matrix[0][0]
matrix[0]=10

In [32]:
matrix

[10, [3, 4]]

In [36]:
listA=[1,2,3,4,11,2,3,4,0, [3, 4]]

print(listA)
print(id(listB))
print(type(listB))
listB= listA
listB[0]=0
listB[len(listB)-1].append(100)
print(listB)
print(id(listB))
print(type(listB))
print(listA)

[1, 2, 3, 4, 11, 2, 3, 4, 0, [3, 4]]
2035398604864
<class 'list'>
[0, 2, 3, 4, 11, 2, 3, 4, 0, [3, 4, 100]]
2035398674688
<class 'list'>
[0, 2, 3, 4, 11, 2, 3, 4, 0, [3, 4, 100]]