In [1]:
# FUNCTIONS ON PYTHON 
#  1.  is  OPERATOR

a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a is b)  
print(a is c)

False
True

In [5]:
#  2.  isinstance()

x = 2
y = [1, 2, 3]
z = "hello"

print(isinstance(x, int))    #True (x is an integer)
print(isinstance(y, list))   #True (y is a list)
print(isinstance(z, str))    #True (z is a string)
print(isinstance(x, str))    #False (x is not a string)

True
True
True
False

In [7]:
#  3.  len()

my_list = [1, 2, 3, 4]
my_string = "hello"

print(len(my_list))   # Output: 4 (the list has 4 elements)
print(len(my_string)) # Output: 5 (the string has 5 characters)

4
5

In [9]:
#  4.  count()

my_list = [1, 2, 3, 2, 4, 2]
my_string = "hello world"

print(my_list.count(2))      #3 (2 occurs 3 times in the list)
print(my_string.count("o"))  #2 (the letter 'o' appears 2 times)

3
2

In [11]:
#  5.  dir()

x = [1, 2, 3]
print(dir(x))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
#  6.  type()

x = 5
y = "hello"
z = [1, 2, 3]

print(type(x))  
print(type(y))  
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [15]:
#  7.  id()

a = [1, 2, 3]
b = a

print(id(a))  #Memory address of 'a'
print(id(b))  #Same as 'a', because 'b' references the same object

2392107982848
2392107982848

In [17]:
#  8.  sum()

numbers = [1, 2, 3, 4]
print(sum(numbers))  # 10 (sum of the numbers in the list)

10

In [19]:
#  9.  max()   and    min()

numbers = [10, 3, 5, 1]

print(max(numbers))  #  10 (largest number in the list)
print(min(numbers))  #  1 (smallest number in the list)

10
1

In [21]:
#  10.  sorted()

my_list = [3, 1, 4, 2]
sorted_list = sorted(my_list)

print(sorted_list)  
print(my_list)

[1, 2, 3, 4]
[3, 1, 4, 2]

In [23]:
#  11.  reversed()  

my_list = [1, 2, 3, 4]
reversed_list = list(reversed(my_list))

print(reversed_list)

[4, 3, 2, 1]

In [27]:
#   12.  enumerate()

my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

In [29]:
#  13.  all()   and   any()

numbers = [1, 2, 3, 4]
empty = []

print(all(numbers))  
print(all(empty))  
print(any(numbers))  
print(any(empty))

True
True
True
False