In [ ]:
#UNIT 2
#COPY AND DEEP COPY PYTHON LISTS

In [1]:

def showDetails(*args):
    for i in range(len(args)):
        variable = args[i]
        print(f"The Value of { i+1 } variable is \t{variable }\t its id is \t {id(variable)}")
    
    print("\n\n")

In [3]:
#Changes to one list will be reflected in the other

listA = [2, 4, 6, [1, 3]]
listB = listA
showDetails(listA,listB)
listB[1] = 44

showDetails(listA,listB)
listB[3][1] = 10


showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005798784
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005798784



The Value of 1 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 2496005798784
The Value of 2 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 2496005798784



The Value of 1 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 2496005798784
The Value of 2 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 2496005798784

In [7]:
#Shallow copy using the list() constructor

listA = [2, 4, 6, [1, 3]]
listB = list(listA)
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55

showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005624960
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005806272



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 2496005624960
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 2496005806272

In [9]:
#other way to make a shallow copy 

listA = [2, 4, 6, [1, 3]]
listB = [x for x in listA]
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005815104
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005801344



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 2496005815104
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 2496005801344

In [11]:
listA = [2, 4, 6, [1, 3]]
listB = [x for x in listA]
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005625792
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005704384



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 2496005625792
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 2496005704384

In [13]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.deepcopy(listA)
showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005808448
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005801472



The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2496005808448
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 2496005801472

In [15]:
class Pony():
    def __init__(self, n):
        self.name = n
        
# copy.copy on an object gives you 2 unique objects (with same attributes)
pony1 = Pony('Pinto')
pony2 = copy.copy(pony1)
showDetails(pony1,pony2)

print(id(pony1), id(pony2))

# copy.copy on a list of objects gives you 2 unique lists containing the exact same objects    
# (ie. new list is a shallow copy)
m = [pony1, pony2]
n = copy.copy (m)
print(id(m[0]), id(n[0]))

# use copy.deepcopy to deep copy a list of objects
n = copy.deepcopy (m)
print(id(m[0]), id(n[0]))

The Value of 1 variable is 	<__main__.Pony object at 0x000002454477FB00>	 its id is 	 2496524712704
The Value of 2 variable is 	<__main__.Pony object at 0x0000024544444BC0>	 its id is 	 2496521325504



2496524712704 2496521325504
2496524712704 2496524712704
2496524712704 2496531692864